.banner-quartos{
    height: 40vh;
}

.container-quartos img{
    flex-grow: 1;
    width: 350px;
    height: 250px;
}

.container-informacoes{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    
}

.lista-informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

